coverage==7.3.2
darglint==1.8.1
flake8-isort==6.1.0
flake8-pyproject==1.2.3
flake8==6.1.0
mypy==1.6.1
pandas-stubs==2.1.1.230928
pydocstyle==6.3.0
pylint==3.0.2
pymarkdownlnt==0.9.13.4
pymdown-extensions==10.3.1
pyspelling==2.9
pytest==7.4.3
